:host ::ng-deep .page{
    margin: 0px auto 1px auto !important;
}

.masked{
    min-height:100%;
    min-width: 100%;
    position: fixed;
    top: 0;   
    z-index: 1;
    background-color: black;
}