<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=no" />
<div class="forgot-password-wrap">
  <app-header (backAction)="back()" [title]="'FORGOT PASSWORD'"></app-header>
  <div class="forgot-password-sec">
    <img src="../../../assets/images/logo/xclusive_logo.png" height="70" alt="#" />

    <div class="form-group mt-5">
      <form name="fogotPasswordForm" [formGroup]="fogotPasswordForm" (submit)="resetPassword()">
        <div class="form-group">
          <input type="email" id="email" class="form-control" formControlName="email" name="email"
            placeholder="Email Address">
        </div>
        <div class="form-group">
          <button type="submit" id="password" class="btn w-100 mt-2">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>