.time-comment .img-thumbsup {
    height: 50px;
    padding-right: 20px;
    margin-top: 40px;
    border-right: 1px solid #E2D291;
}

.time-comment .img-thumbsdown {
    height: 50px;
    padding-left: 20px;
    margin-top: 40px;
}

h4{
    color: #EDC228;
}

.txt-count{
    text-align: end;
    color: #EDC228;
    font-size: 13px;
  }