<footer>
  <div class="footer-wrap container-fluid">
    <div class="footer-option">
      <div>
        <img src="../../../assets/images/nav_dates_normal.png" alt="">
      </div>
      <div>
        <img src="../../../assets/images/nav_favs_normal.png" alt="">
      </div>
      <div>
        <img src="../../../assets/images/nav_feed_normal.png" alt="">
      </div>
      <div>
        <img src="../../../assets/images/nav_chat_normal.png" alt="">
      </div>
      <div>
        <img src="../../../assets/images/avtar.png" alt="">
      </div>
    </div>
  </div>
</footer>
