.x-code-form {
    padding: 40px;

    .form-control {
        text-align: center;
    }

    .input-group-text {
        background: #131313;
        color: #fff;
        border: 0;
    }

    hr {
        border-top: 1px solid #EDC228;
    }

    .x-code-form-group{
        margin-bottom: 20px;
    }
}