$primary-color: #EDC228;
$secondary-color: #242424;
$light-color: #fff;
$dark-color: #000;
$disabled-color: #ababab;
$color-error: #f00;
$fb-color: #3b5998;
$typography-color: #E2D291;
$not-verified-color: #FB0104;

$input-bg-color: #131313;
$txt-color: #EDC228;