$primary-font: 'Lato';

@font-face {
  font-family: "Lato";
  src: ('../../font/Lato-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Lato";
  src: ('../../font/Lato-Light.ttf') format("truetype");
}

@font-face {
  font-family: "Lato";
  src: ('../../font/Lato-Regular.ttf') format("truetype");
}
