<app-header [title]="title" (backAction)="back()"></app-header>

<div class="my-profile-wrap finish-profile">
  <div class="user-details">
    <div class="mb-5">
      <img src="../../../assets/images/clock.png" height="100" alt="">
    </div>
    <h5 class="mt-5">Your profile is being approved</h5>
    <p>We’ll send an email when you profile is ready. In the meantime, checkout our FAQ section. <a style="color: #007bff" href="https://xclusive.vip/faq/" target="_blank">https://xclusive.vip/faq/</a></p>
  </div>
</div>

<app-footer></app-footer>