:host ::ng-deep .page {
  margin: 0px auto 1px auto !important;
}

.masked{
  min-height:100%;
  min-width: 100%;
  position: fixed;
  top: 0;   
  z-index: 1;
  background-color: black;
}

.agrreBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #131313;
  text-align: center;

  .btn {
    padding: 0;
    width: 150px;
    height: 32px;
  }
}


/* The custom-check */
.custom-check {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
  margin-right: 15px;
  height: 30px;
}

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input~.checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked~.checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
  left: 11px;
  top: 4px;
  width: 8px;
  height: 18px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
