<meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=no" />
<div class="fund-transfer-wrap">
    <app-header (backAction)="back()" [title]="title"></app-header>

    <!-- <div class="balance-tag" (click)="listPage(2)">
        <span>SELECT ACCOUNT</span>
        <span></span>
    </div>

    <div class="balance-tag" (click)="isAmountTextboxActive = !isAmountTextboxActive">
        <span>ENTER AMOUNT</span>
        <span>$ {{availableBal | number:'1.1-2'}}</span>
    </div> -->
    <form name="fundTransferForm" [formGroup]="fundTransferForm">
        <div class="fund-transfer">
            <div class="form-group">
                <label>SELECT ACCOUNT</label>
                <select id="account" class="form-control" formControlName="account" name="account">
                    <!-- <option value="" hidden disabled>Select Bank Account</option> -->
                    <option *ngFor="let account of accounts" value="{{account}}">...{{account.last4}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>ENTER AMOUNT</label>
                <div class="fund-transfer-amount">
                    <span>$ </span>
                    <input type="number" id="amount" class="form-control" formControlName="amount" name="amount">
                </div>
            </div>

            <div>
                <button type="button" class="btn w-100" (click)="transferBalance()" [disabled]="!fundTransferForm.valid" >CONFIRM</button>
            </div>
        </div>
    </form>
</div>